s@{
    ViewBag.Title = "DeleteProducts";
    Layout = "~/Views/Shared/adminshared.cshtml";
}

<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">

                <div class="section group">
                    <div class="col span_2_of_contact">
                        <div class="contact-form">

                            <form method="post" action="/Admin/RemoveProduct">

                               <p>Enter Dress Code which u want to delete</p>
                                <input type="text" name="DressCode" placeholder=" DressCode" />
                                <div>
                                    <span><input type="submit" value="Delete"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
