@{
    ViewBag.Title = "Aboutboutique";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="heading">
                    <h3>About Us</h3>
                    <p>
                       Based on our tradition of facilitating quality with style, we offer an elegant and diverse product array from Fashion Fabrics, Clothing, and Footwear & Accessories to Home Textiles with an objective to bring our valued customers a complete, unbeatable and enjoyable shopping experience.

                    </p>

                    <p>
                       We bring you colors of east spiced up with style and elegance; transforming fashion and incorporating cultural values into the designs and ideas. We are responsible for putting forth clothing that represents your taste in dressing up. The beauty is in the colors and the cuts that are modern yet simple and supremely eye-catching. We care for our customer needs and so we keep the quality of our products high. May it be women or children; we have something that can click to everyone’s hearts and minds. We deal in stitched and unstitched clothing line, so you may choose what suits your refine grace the best. Take your pick from our wide ranges and ever- changing new designs appearing seasonally.

                    </p>



                </div>
                <div class="about-top">
                    <div class="about-topgrids">
                        <div class="about-topgrid1">
                            <h3>Looking for a DRESS</h3>
                            <img src="~/Fashion1/S1.jpg" title="name">
                            <h5>HOW TO Decide</h5>
                            <p>Firstly consider the weather Because weather matters alot about Clothing.Consider the material, design and style of dress according to the weather and current fashion.And also think about your budget and decide your affordable range.Then consider the event for which you are going to shop Because dressing mostly depends upon events and there are different styles for party wears casual wears etc.</p>
                           
                        </div>
                    </div>
                    <div class="about-histore">
                        <h3>Company Achievements </h3>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2011 &nbsp;-</span></li>
                                <li><p>Record sales </p></li>
                                <li><p>Best Selling Dealer in Asia </p></li>
                                <li><p>Best styles of year</p></li>
                                
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2012 &nbsp;-</span></li>
                                <li><p>Top Selling Dealer 2012-1 Runner-Up</p></li>
                                <li><p>Best Selling Breands of Country</p></li>
                                <li><p>2012 Outstanding Designers</p></li>
                                <li><p>Best Performing Partner 2012</p></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2013 &nbsp;-</span></li>
                                <li><p>LUX Style Award </li>
                                <li><p>Best Selling Dealer</p></li>
                                <li><p>Best Brand of Yar </p></li>
                               

                                <div class="clear"> </div>
                            </ul>

                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2014 &nbsp;-</span></li>
                                <li><p>Best Communication with big designers</li>
                                <li><p>Best Selling Dealer</p></li>
                                <li><p>Worked with top designers</p></li>
                                <li><p>2014 best Brands of Year Award</p></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="historey-lines">
                            <ul>
                                <li><span>2015 &nbsp;-</span></li>
                                <li><p>Working for the better Future of our Business</p></li>

                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="about-services">
                        <h3>New Arrivals with Features</h3>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="~/Fashion1/S1.jpg" title=""></a>
                            </div>
                            <div class="about-team-right">
                                <p>Gul Ahmed is globally synonymous as a name with quality, innovation & reliability following with endless customer satisfaction. A credible name having its presence since last six decades at the textile landscape of Pakistan.Gul Ahmed has been an exporter of textiles for the past many decades</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="~/Fashion1/S2.jpg" title=""></a>
                            </div>
                            <div class="about-team-right">
                                <p>Nishat brings you colors of east spiced up with style and elegance; transforming fashion and incorporating cultural values into the designs and ideas. We are responsible for putting forth clothing that represents your taste in dressing up. The beauty is in the colors and the cuts that are modern yet simple and supremely eye-catching.</p>
                                </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="~/Fashion1/S3.jpg" title=""></a>
                            </div>
                            <div class="about-team-right">
                                <p>Tana Bana is a famous and most demanding fashion brands in fashion world. Tana Bana Winter Dresses Collection 2014-15 For Women. Phulkari through Tana Bana is actually about famous as well as significant model of Pakistan stylish business. The company attained a lot desirableness as well as reply because of the general public inside quick time period. The company began his or her are stylish brand name  year.</p>
                                </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="~/Fashion1/S4.jpg" title=""></a>
                            </div>
                            <div class="about-team-right">
                                <p>ORHNI just introduced a bridal wear collection 2015 for women. This collection is consists of traditional lehengas with long shirts and cholis. Including traditional lehengas with long shirts and cholis there you will find sarees, churidaars and long shirts. ORHNI Bridal Wear Collection 2015 for Women is a diverse collection by ORHNI.</p>
                                </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="client">
                            <div class="about-team-left">
                                <a href="#"><img src="~/Fashion1/S5.png" title=""></a>
                            </div>
                            <div class="about-team-right">
                                <p>Khaadi is a huge textile name in Pakistan and their lawn collections are most adorable clothing in summer season which is also considered as luxury clothing. All the dresses feature 3 piece suites, stitched and non-stitched, in stitched category there are also sleeveless dresses with shalwar or pajamas are available showcasing in magazines and catalogs.</p>
                                </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</body>
