@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom">
    <div class="wrap">
        <div class="single">
            <div class="heading">
                <h3>Contact Us </h3>
                <p> You can contact us through SMS, Email,Fax, Througn Facebook and Twitter. You can also Call us. Here are our Contact Details </p>
            </div>
            @*<div class="section group">
                <div class="col span_2_of_contact">
                    <div class="contact-form">

                        <form method="post" action="http://localhost:2525/SpmProject/abc">
                            <div class="company_address"><center><h1>ORDER  FORM</h1></center></div>
                            <div>
                                <span><label>Name</label></span>
                                <span><input name="userName" type="text" class="textbox"></span>
                            </div>
                            <div>

                                <span><label>E-Mail</label></span>
                                <span><input name="userEmail" type="text" class="textbox"></span>
                            </div>

                            <div>
                                <span><label>CNIC</label></span>
                                <span><input name="CNIC" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>ZIPCODE</label></span>
                                <span><input name="ZIPCODE" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>ADDRESS</label></span>
                                <span><input name="address" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>MODEL</label></span>
                                <span><input name="model" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>DEBITCARD_NO</label></span>
                                <span><input name="Debitcard-no" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>DOB</label></span>
                                <span><input name="DOB" type="DATE" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>PREFRENCES</label></span>
                                <span><textarea name="userMsg" placeholder="type your more prefrences here"> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" value="Submit"></span>
                            </div>
                        </form>
                    </div>
                </div>*@
                <div class="col span_1_of_3">
                    <div class="company_address">
                        <h3>Address</h3>
                        <p>PUCIT, OLD CAMPUS ,</p>
                        <p>PUNJAB UNIVERSITY, THE MALL</p>
                        <p>LAHORE</p>
                         <h3>Phone</h3>
                        <p>Phone:</p>
                        <p>(00) 0321-8966567</p>
                         <h3>Fax</h3>
                        <p>Fax:</p>
                             <p>(000)-- -- -- --</p>
                         <h3>Email</h3>
                        <p>Email:</p>
                        <p> <span>bitf12m000@pucit.edu.pk</span></p>
                         <h3>Others</h3>
                        <p>Follow on:</p>
                            <p> <span>Facebook</span>, <span>Twitter</span></p>
                    </div>
                </div>
                <div class="clear"></div>
               
            </div>
        </div>
    </div>
</div>
