@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom">
    @*<div class="wrap">
        <div class="main-box">
            <div class="filter-wrapper ">
                <div class="category">
                    <strong>Categories: </strong>
                    <ul id="filters" class="filter nav nav-pills">
                        <li class="active"><a href="#" data-count="13" data-filter="">Show All</a></li>
                        <li><a href="#" data-count="4" data-filter=".services-category-1">Services category 1</a></li>
                        <li><a href="#" data-count="8" data-filter=".services-category-2">Services category 2</a></li>
                        <li><a href="#" data-count="5" data-filter=".services-category-3">Services category 3</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>*@
            <div class="gallery-grids">
                <div class="gallery-grid">
                    <img src="~/Fashion\L9.jpg" alt="">
                    <h4>Orhni</h4>
                    <p> ORHNI just introduced a bridal wear collection 2015 for women. This collection is consists of traditional lehengas with long shirts and cholis. Including traditional lehengas with long shirts and cholis there you will find sarees, churidaars and long shirts. ORHNI Bridal Wear Collection 2015 for Women is a diverse collection by ORHNI. Every collection by ORHNI is most innovative and liked by all women due to ethnic and nice work done on their dresses. Complete traditional work are done their dress collections on the fron side and back side of dresses. Not only shirts are enhanced with the embroidery work but lehengas, dupattas and pajamas are equipped with beautiful hand made and machine made work. ORHNI Bridal Wear Collection 2015 for Women is a completely gorgeous and stunning collection for women of today.</p>
                  
                </div>

                <div class="gallery-grid grid2">
                    <img src="~/Fashion\L21.jpg" alt="">
                    <h4>Nishat</h4>
                    <p> Nishat group of companies is a premier business house of Pakistan. The group has presence in all major sectors including Textiles, 
Cement, Banking, Insurance, Power Generation, Hotel Business, Agriculture, Dairy and Paper Products. Today, Nishat Group is 
considered to be at par with multinationals operating locally in terms of its quality products and management skills. Following is the 
list of companies in the group.</p>


                </div>
                <div class="gallery-grid">
                    <img src="~/Fashion\L8.jpg" alt="">
                    <h4>Gull Ahmad</h4>
                    <p>Gul Ahmed is globally synonymous as a name with quality, innovation & reliability following with endless customer satisfaction. A 
credible name having its presence since last six decades at the textile landscape of Pakistan.Gul Ahmed has been an exporter of textiles 
for the past many decades and with its vast experience, strong infrastructure & above all  sophisticated product competency, the company, 
based on visualizing the needs of its customers and the emerging trend towards branded retail business in the country, ventured to step 
into the retail sector in 2003 by opening its first flagship store in Karachi – Ideas by Gul Ahmed – and thus, has developed an extensive 
chain of fashion stores across the country with the brand name Ideas® by Gul Ahmed and Gul Ahmed Exclusive Stores.</p>

                </div>
                <div class="clear"> </div>
            </div>
            <div class="gallery-grids">
                <div class="gallery-grid">
                    <img src="~/Fashion\L22.jpg" alt="">
                    <h4>Taana Bana</h4>
                    <p>Tana Bana is a famous and most demanding fashion brands in fashion world. Tana Bana Winter Dresses Collection 2014-15 For 
Women. Phulkari through Tana Bana is actually about famous as well as significant model of Pakistan stylish business. The company 
attained a lot desirableness as well as reply because of the general public inside quick time period. The company began his or her are 
stylish brand name  year. </p>
                </div>
                <div class="gallery-grid grid2">
                    <img src="~/Fashion\L4.jpg" alt="">
                    <h4>Nomi Ansari</h4>
                    <p> Pakistan’s King of Colour, Nomi Ansari graduated from the Pakistan Institute of Fashion Design (affiliated with La Chamber Syndicate de la Parisienne, France) with a strong set of skills in couture development. This was to become his forte as he gradually evolved with a discerning signature of youthful palettes that become iconic to his brand.
                       enowned fashion commentator, Colin McDowell, reviewed Nomi Ansari’s Circus Collection in 2009 as “a breath of fresh air blown in from Pakistan…vibrant and original.” Originality is what the designer was set to achieve when he set up his studio in Karachi in 2001. Nomi Ansari has changed the way women dress in Pakistan by encouraging them to trust colour; he has given them the confidence to mix and match contrasting separates in their wardrobes to create one coherent look. He is famous for using over a dozen different colours in an outfit, without allowing any of them to clash. His designs have the finesses and finish of a master couturies</p>
                        
                </div>
                <div class="gallery-grid">
                    <img src="~/Fashion\L5.jpg" alt="">
                    <h4>Gul Ahmad</h4>
                    <p>Gul Ahmed is globally synonymous as a name with quality, innovation & reliability following with endless customer satisfaction. A 
credible name having its presence since last six decades at the textile landscape of Pakistan.Gul Ahmed has been an exporter of textiles 
for the past many decades and with its vast experience, strong infrastructure & above all  sophisticated product competency, the company, 
based on visualizing the needs of its customers and the emerging trend towards branded retail business in the country, ventured to step 
into the retail sector in 2003 by opening its first flagship store in Karachi – Ideas by Gul Ahmed – and thus, has developed an extensive 
chain of fashion stores across the country with the brand name Ideas® by Gul Ahmed and Gul Ahmed Exclusive Stores.</p>

                </div>
                <div class="clear"> </div>
            </div>
            <div class="gallery-grids1">
                <div class="gallery-grid">
                    <img src="~/Fashion2\N5.jpg" alt="">
                    <h4>Maria.B</h4>
                    <p> MARIA.B. is Pakistan’s leading designer brand with a vast retail network providing multiple ranges of affordable designer fashion for women. The eponymous brand was launched 14 years ago with a vision to revolutionise and make accessible, women’s retail in the country following Maria’s graduation from the prestigious Pakistan Institute of Fashion Design (PIFD) where she was the school’s first Valedictorian in 1998. Indeed since its inception, the MARIA.B. brand continues to encapsulate designer sensibilities within an affordable label.Having first started with one small stitching unit in Lahore, today, MARIA.B. is Pakistan’s most diverse designer fashion brand with prêt a porter, couture, formal wear, lawn, embroidered fabrics and cottons all within one affordable label. MARIA. B. also has one of Pakistan’s most extensive retail networks with 25 standalone outlets in 12 different cities across the country, while also exporting to 6 international destinations including India, UK, USA, Bangladesh, UAE and Qatar.</p>
                        
                </div>
                <div class="gallery-grid grid2">
                    <img src="~/Fashion\L7.jpg" alt="">
                    <h4>Khaddi</h4>
                    <p>Khaadi is a huge textile name in Pakistan and their lawn collections are most adorable clothing in summer season which is also considered as luxury clothing. All the dresses feature 3 piece suites, stitched and non-stitched, in stitched category there are also sleeveless dresses with shalwar or pajamas are available showcasing in magazines and catalogs. There is an online catalog is also available at Shprex.com for Khaadi lawn collection 2015 with its respective volumes. This year’s collection is first look choice due to the amazing use of colors, elegant styles and intellectual designs and prints with exclusive flower drawing touch.</p>
                </div>
                <div class="gallery-grid">
                    <img src="~/Fashion\L2.jpg" alt="">
                    <h4>Gul Ahmad</h4>
                     <p>Gul Ahmed is globally synonymous as a name with quality, innovation & reliability following with endless customer satisfaction. A 
credible name having its presence since last six decades at the textile landscape of Pakistan.Gul Ahmed has been an exporter of textiles 
for the past many decades and with its vast experience, strong infrastructure & above all  sophisticated product competency, the company, 
based on visualizing the needs of its customers and the emerging trend towards branded retail business in the country, ventured to step 
into the retail sector in 2003 by opening its first flagship store in Karachi – Ideas by Gul Ahmed – and thus, has developed an extensive 
chain of fashion stores across the country with the brand name Ideas® by Gul Ahmed and Gul Ahmed Exclusive Stores.</p>

                     
                </div>
                <div class="clear"> </div>
            </div>
        </div>
 
