@{
    ViewBag.Title = "single7";
}

<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="box_wrapper"><h1>Specificetions</h1></div>
                <div class="single-top">
                    <div class="lsidebar span_1_of_s">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container" style="height:300px">
                                        <a href="#" target="_blank"><img src="~/Fashion1/logo1.jpg" alt=" " /></a>
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid span_2_of_3">
                     
                      
                        <p>Tana Bana is a famous and most demanding fashion brands in fashion world. Tana Bana Winter Dresses Collection 2014-15 For 
Women. Phulkari through Tana Bana is actually about famous as well as significant model of Pakistan stylish business.</p>
                        <p>The company 
attained a lot desirableness as well as reply because of the general public inside quick time period. The company began his or her are 
stylish brand name  year. This collecting includes 3 components fits contains lengthy tops.</p>
                        
                    </div><div class="clear"></div>
                </div>
                <p class="about-para"><p>The range tops set at pants as well as hose. This particular wintertime vol-2 contains specialized forms of appealing materials including 
essential cellulose xanthate joseph m. jacquard, wood slub, small modale, cellulose xanthate flowery as well as others..</p><div class="clear"></div>
                @*<div class="links">
                    <ul>
                        <li><a href="#"><img src="~/images/blog-icon1.png" title="date"><span>june 14, 2013</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon3.png" title="Comments"><span>No comments</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon5.png" title="permalink"><span>permalink</span></a></li>
                    </ul>
                </div>*@
               <div class="Order">
                              <div><a href="~/Client/form" class="btn btn-info" role="button">Order Now</a>
                   
                </div>
                        </div>
                    <div class="leave-comment"><a href="#" name="comment">Leave a Comment</a></div>
                    <div class="comments-area">
                        <form>
                            <p>
                                <label>Name</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Email</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Website</label>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Subject</label>
                                <span>*</span>
                                <textarea></textarea>
                            </p>
                            <p>
                                <input type="submit" value="Post">
                            </p>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
        
 


</body>

