@{
    ViewBag.Title = "single9";
}

<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="box_wrapper"><h1>Specificetions</h1></div>
                <div class="single-top">
                    <div class="lsidebar span_1_of_s">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container" style="height:300px">
                                        <a href="#" target="_blank"><img src="~/Fashion1/logo1.jpg" alt=" " /></a>
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid span_2_of_3">
                     
                      
                        <p>Gul Ahmed is globally synonymous as a name with quality, innovation & reliability following with endless customer satisfaction. A 
credible name having its presence since last six decades at the textile landscape of Pakistan.</p>
                        <p>Gul Ahmed has been an exporter of textiles for the past many decades and with its vast experience, strong infrastructure & above all 
sophisticated product competency, the company, based on visualizing the needs of its customers and the emerging trend towards branded 
retail business in the country, ventured to step into the retail sector in 2003 by opening its first flagship store in Karachi – Ideas by Gul 
Ahmed – and thus, has developed an extensive chain of fashion stores across the country with the brand name Ideas® by Gul Ahmed and 
Gul Ahmed Exclusive Stores.
.</p>
                        
                    </div><div class="clear"></div>
                </div>
                <p class="about-para"><p>With present network of more than 40 stores stretched nationwide in the prime cities and commercial hubs, Ideas is now looking for 
new destinations at both domestic and global horizon to serve its awaiting customers.</p><div class="clear"></div>
                @*<div class="links">
                    <ul>
                        <li><a href="#"><img src="~/images/blog-icon1.png" title="date"><span>june 14, 2013</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon3.png" title="Comments"><span>No comments</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon5.png" title="permalink"><span>permalink</span></a></li>
                    </ul>
                </div>*@
               <div class="Order">
                              <div><a href="~/Client/form" class="btn btn-info" role="button">Order Now</a>
                   
                </div>
                        </div>
                    <div class="leave-comment"><a href="#" name="comment">Leave a Comment</a></div>
                    <div class="comments-area">
                        <form>
                            <p>
                                <label>Name</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Email</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Website</label>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Subject</label>
                                <span>*</span>
                                <textarea></textarea>
                            </p>
                            <p>
                                <input type="submit" value="Post">
                            </p>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
        
 


</body>

