@{
    ViewBag.Title = "single4";
}

<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="box_wrapper"><h1>Specificetions</h1></div>
                <div class="single-top">
                    <div class="lsidebar span_1_of_s">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container" style="height:300px">
                                        <a href="#" target="_blank"><img src="~/Fashion1/logo1.jpg" alt=" " /></a>
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid span_2_of_3">
                     
                      
                        <p> MARIA.B. is Pakistan’s leading designer brand with a vast retail network providing multiple ranges of affordable designer fashion for women. The eponymous brand was launched 14 years ago with a vision to revolutionise and make accessible, women’s retail in the country following Maria’s graduation from the prestigious Pakistan Institute of Fashion Design (PIFD) where she was the school’s first Valedictorian in 1998. Indeed since its inception, the MARIA.B. brand continues to encapsulate designer sensibilities within an affordable label.</p>
                        <p>Having first started with one small stitching unit in Lahore, today, MARIA.B. is Pakistan’s most diverse designer fashion brand with prêt a porter, couture, formal wear, lawn, embroidered fabrics and cottons all within one affordable label. MARIA. B. also has one of Pakistan’s most extensive retail networks with 25 standalone outlets in 12 different cities across the country, while also exporting to 6 international destinations including India, UK, USA, Bangladesh, UAE and Qatar.</p>
                        
                    </div><div class="clear"></div>
                </div>
                <p class="about-para"><p>MARIA.B.’s fashion has been showcased at fashion events across the world and within Pakistan including in Chicago, USA (2001); Paris, France (Prêt-à-porter, 2001); New York, USA (2002); Bangkok, Thailand (Bangkok International Fashion Fair, 2002); Birmingham, UK (South Asian Fashion Mela, 2002); Los Angeles, USA (2003); Washington DC, USA (2004); and Manchester, UK (Asian Brides Show, 2004); Los Angeles, USA 2011. MARIA.B. is currently also available in Lahore, Karachi, Islamabad, Faisalabad, Peshawar, Oslo, New Delhi, Dubai and Manchester. Nationally, MARIA.B. has consistently showcased her prêt a porter at the PFDC Sunsilk Fashion Week (2010, 2011, 2012 and 2013), the PFDC L’Oréal Paris Bridal Week (2011) and at Pantene Bridal Couture Week (2013).

 MARIA.B. has outlets in Lahore, Karachi, Islamabad, Faisalabad, Peshawar, Abbottabad, Mardan, Gujranwala, Multan, Sargodha, Mandi Bahauddin and Rahim Yar Khan with plans to launch new outlet in Rawalpindi soon.</p><div class="clear"></div>
                @*<div class="links">
                    <ul>
                        <li><a href="#"><img src="~/images/blog-icon1.png" title="date"><span>june 14, 2013</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon3.png" title="Comments"><span>No comments</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon5.png" title="permalink"><span>permalink</span></a></li>
                    </ul>
                </div>*@
               <div class="Order">
                              <div><a href="~/Client/form" class="btn btn-info" role="button">Order Now</a>
                   
                </div>
                        </div>
                    <div class="leave-comment"><a href="#" name="comment">Leave a Comment</a></div>
                    <div class="comments-area">
                        <form>
                            <p>
                                <label>Name</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Email</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Website</label>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Subject</label>
                                <span>*</span>
                                <textarea></textarea>
                            </p>
                            <p>
                                <input type="submit" value="Post">
                            </p>
                        </form>
                    </div>
                </div>
             
            </div>
        </div>
        
 


</body>

