@{
    ViewBag.Title = "single2";
}

v class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="box_wrapper"><h1>Specificetions</h1></div>
                <div class="single-top">
                    <div class="lsidebar span_1_of_s">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container" style="height:300px">
                                        <a href="#" target="_blank"><img src="~/Fashion/L9.jpg" alt=" " /></a>
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid span_2_of_3">
                     
                      
                         Pakistan’s King of Colour, Nomi Ansari graduated from the Pakistan Institute of Fashion Design (affiliated with La Chamber Syndicate de la Parisienne, France) with a strong set of skills in couture development. This was to become his forte as he gradually evolved with a discerning signature of youthful palettes that become iconic to his brand.Renowned fashion commentator, Colin McDowell, reviewed Nomi Ansari’s Circus Collection in 2009 as “a breath of fresh air blown in from Pakistan…vibrant and original.” Originality is what the designer was set to achieve when he set up his studio in Karachi in 2001. Nomi Ansari has changed the way women dress in Pakistan by encouraging them to trust colour; he has given them the confidence to mix and match contrasting separates in their wardrobes to create one coherent look. He is famous for using over a dozen different colours in an outfit, without allowing any of them to clash. His designs have the finesses and finish of a master couturies</p>
                        
                    </div><div class="clear"></div>
                </div>
                <p class="about-para"><p>Born in Karachi to an industrial family, the warp and weave of carpet weaving was in Nomi Ansari’s DNA even before he set foot into fashion. It was this deep-rooted understanding of iconography, colour balance and print development that gave him his strength in design.</p><div class="clear"></div>
                @*<div class="links">
                    <ul>
                        <li><a href="#"><img src="~/images/blog-icon1.png" title="date"><span>june 14, 2013</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon2.png" title="Admin"><span>admin</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon3.png" title="Comments"><span>No comments</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon4.png" title="Lables"><span>View posts</span></a></li>
                        <li><a href="#"><img src="~/images/blog-icon5.png" title="permalink"><span>permalink</span></a></li>
                    </ul>
                </div>*@


                <div><a href="~/Client/form" class="btn btn-info" role="button">Order Now</a>
                   
                </div>
               
                    <div class="leave-comment"><a href="#" name="comment">Leave a Comment</a></div>
                    <div class="comments-area">
                        <form>
                            <p>
                                <label>Name</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Email</label>
                                <span>*</span>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Website</label>
                                <input type="text" value="">
                            </p>
                            <p>
                                <label>Subject</label>
                                <span>*</span>
                                <textarea></textarea>
                            </p>
                            <p>
                                <input type="submit" value="Post">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   


</body>