@{
    ViewBag.Title = "Addcars";
    Layout = "~/Views/Shared/adminshared.cshtml";
}
<body>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">

                <div class="section group">
                    <div class="col span_2_of_contact">
                        <div class="contact-form">

                            <form method="post" action="contact-post.html">

                                <input type="text" name="car" placeholder="CARMODEL" />
                                <input type="text" name="quantity" placeholder=" Quantity" />
                                <div>
                                    <span><input type="submit" value="ADD"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>