@{
    ViewBag.Title = "approve";
    Layout = "~/Views/Shared/adminshared.cshtml";
}

<body>
    
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">

                <div class="section group">
                    <div class="col span_2_of_contact">
                        <div class="contact-form">

                            <form method="post" action="contact-post.html">

                                Name <input type="text" name="car" placeholder="Enter Your Name" />
                                CNIC <input type="text" name="c" placeholder=" Enter Your Cnic" />
                                MODEL <input type="text" name="quantity" placeholder=" Enter Model" />
                                <div>
                                    <span><input type="submit" value="Enter"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
